<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	   http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">
	
	<bean id="springContextHelper" class="nurteen.prometheus.pc.framework.utils.SpringContextHelper">
	</bean>

    <bean class="nurteen.prometheus.pc.framework.BeanPostProcessor" id="beanPostProcessor$forApplicationContext">
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" id="propertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <bean class="nurteen.prometheus.pc.framework.ServerConfigProperties" id="serverConfigProperties">
        <property name="idGenPrefix" value="${server.idGenPrefix}"/>
        <property name="serverAddress" value="${server.serverAddress}"/>
        <property name="redisHost" value="${redis.host}"/>
        <property name="redisPassword" value="${redis.password}"/>
        <property name="redisPort" value="${redis.port}"/>
        <property name="redisTimeout" value="${redis.timeout}"/>
        <property name="redisPoolMaxTotal" value="${redis.pool.maxTotal}"/>
        <property name="redisPoolMaxIdle" value="${redis.pool.maxIdle}"/>
        <property name="redisPoolMaxWaitMillis" value="${redis.pool.maxWaitMillis}"/>
        <property name="redisPoolTestOnBorrow" value="${redis.pool.testOnBorrow}"/>
    </bean>

    <bean class="nurteen.prometheus.pc.framework.web.socket.WsMessageDispatcher" id="wsMessageDispatcher">
    </bean>
    
    <bean class="nurteen.prometheus.pc.framework.utils.RedisUtils" id="redisUtils">
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="packagesToScan">
            <list>
                <value>nurteen.prometheus.pc.framework.entities</value>
            </list>
        </property>
        <property name="dataSource">
            <bean class="com.mchange.v2.c3p0.ComboPooledDataSource">
                <property name="jdbcUrl" value="${mysql.url}"></property>
                <property name="driverClass" value="${mysql.driver}"></property>
                <property name="user" value="${mysql.username}"></property>
                <property name="password" value="${mysql.password}"></property>

                <property name="initialPoolSize" value="3"></property>
                <property name="minPoolSize" value="2"></property>
                <property name="maxPoolSize" value="60"></property>
                <property name="acquireIncrement" value="8"></property>
                <property name="maxStatements" value="60"></property>
                <property name="maxStatementsPerConnection" value="8"></property>
                <property name="maxIdleTime" value="1800"></property>
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"  />

    <context:annotation-config/>
    <context:component-scan base-package="nurteen.prometheus.pc.center.server.service"/>

    <!--
    <context:component-scan base-package="com.prometheus.pc.center.server.common.transfer.websocket.service">
    </context:component-scan>
    <context:component-scan base-package="com.prometheus.pc.center.server.common.controller">
    </context:component-scan>
    -->
</beans>
